<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" media="screen" href="../../general.css">
	<title>Presentación de Propuestas</title>
</head>

<body>
	<h1>Descripción General</h1>
	<h2 class="titulo2">Se presentarán propuestas para la gestión de servicios de la base de datos médica</h2>
	<h1>Especificaciones</h1>
	<ol class="titulo2" type="I">
		<li>Implementar tecnologías gratuitas.</li>
		<li>Escalabilidad en la capacidad de Gestionar una Base de Datos.</>
		<li>Facilidad para la edición de la información.</li>
		<li>Capacidad de implementar tecnologías que hagan uso tanto de paradigmas de programación imperativos como de
			los funcionales.</li>
		<li>Compatible con tecnologías que hagan uso del lenguaje R.</li>
		<li>Discutir sobre la implementación de un Servidor básico para regular la información desde el cliente con la
			base de datos.</li>
		<li>Analizar la manera en la que se viene estructurando la información regularmente y discutir posibles mejoras.
		</li>
		<li>Implementar servicios según sean planteados en las propuestas aceptadas.</li>
	</ol>
	<h1>Metas</h1>
	<ol>
		<li>
			<a href="03ArquitecturaSoftware.html">
				<h2 class="titulo2">Definir Arquitectura de Software</h2>
			</a>
			<ul class="titulo3" type="1">
				<li>
					<a href="04Propuesta01MigrarDataBase.html">
						<h3>Base de Datos</h3>
					</a>
				</li>
				<li>
					<a href="05Propuesta02Servidor.html">
						<h3>Servidor</h3>
					</a>
				</li>
				<li>
					<a href="06Propuesta03Interfaz.html">
						<h3>Interfaz Usuario</h3>
					</a>
				</li>
			</ul>
		</li>
	</ol>
	<br>
	<br>
	<br>
</body>

</html>