<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" media="screen" href="../../general.css">
	<link rel="stylesheet" type="text/css" media="screen" href="/propuestas/cure/css/01Presentador.css">
	<title>Presentación de Propuestas</title>
</head>

<body>
	<h1>
		Migrar Base de Datos de Excel hacia otra Tecnología:
	</h1>

	<ul class="titulo2">
		<li>MySQL</li>
		<li>SQL Server</li>
		<li>SQLite</li>
		<li>Nube:
			<ul class="titulo3">
				<li>AWS</li>
				<li>Google Platform</li>
				<li>Azure</li>
			</ul>
		</li>
	</ul>
</body>
</html>