<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" media="screen" href="../css/general.css">
	<link rel="stylesheet" type="text/css" media="screen" href="../css/style_texto.css">
	<title>Presentación de Propuestas</title>
</head>

<body>
	<h1>Propuestas para definir los servicios del servidor</h1>
	<h1>A partir de:</h1>
	<h2> Datos Básicos del paciente:</h2>
	<ol class="titulo3">
		<li>Estimar Riesgos Básicos.</li>
	</ol>
	<h2>Síntomas del Paciente:</h2>
	<ol class="titulo3">
		<li>Mejorar las estimaciones sobre los Riesgos Básicos.</li>
		<li>Estimar “Márgen de Error” y proporcionar una “Sugerencia de Exámenes” con el índice de efectividad y
			<i>sensibilidad</i> que aporta sobre cada riesgo.</li>
	</ol>
	<h2>Resultados de los Exámenes Sugeridos:</h2>
	<ol class="titulo3">
		<li>Mejorar las estimaciones sobre los Riesgos.</li>
		<li>Estimar “Márgen de Error” y proporcionar una “Sugerencia de Exámenes” con el índice de efectividad y
			<i>sensibilidad</i> que aporta sobre cada riesgos.</li>
	</ol>
	<a href="https://docs.google.com/presentation/d/1c-Gfvn0KBKON31A3QtoOvNgIB-kj_rzd/edit?usp=sharing&ouid=107109369758671559450&rtpof=true&sd=true">Tesis sobre la Gestión de Riesgos</a>
</body>

</html>