<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" media="screen" href="../../general.css">
	<link rel="stylesheet" type="text/css" media="screen" href="/propuestas/cure/css/01Presentador.css">
	<title>Presentación de Propuestas</title>
</head>

<body>
	<h1>INTERFAZ DE USUARIO</h1>
	<h2>Etapas de intoducción de datos:</h2>
	<h3>
		<ol class="titulo3">
			<li>Datos Básicos del paciente</li>
			<li>Síntomas del Paciente</li>
			<li>Resultados de Exámenes</li>
		</ol>
	</h3>
	<h2>Lista de Riesgos: Resultados de las peticiones al Servidor</h2>
	<h3>
		<ol class="titulo3">
			<li>Riesgos ordenados del mas probable al menos probable:
				<br>
				Con opción de ordenamiento por su mas probable al considerar el margen de error.
			</li>
			<li> Opciones de filtro según preferencias.
			</li>
			<li> Matrices para gestión de riesgos.
			</li>
		</ol>
	</h3>
</body>

</html>