<!DOCTYPE html>
<html lang="es">

<!-- <HEADER> -->
<!-- Invocar el contenido del archivo head para hacer el header en nuestro HTML -->
<%- include ('./partials/head.ejs'); %>

<body>
  <!-- Se Invocan el contenido de los archivos en partials para incorporarlos en el HTML que se renderizará desde el servidor -->
  <!-- Barra de Navegación -->
  <%- include ('./partials/navigation'); %>
  <!-- Lista de Elementos como Tarjetas -->
  <%- // include ('./partials/cards') %>
  <!-- FOOTER -->
  <%- include('./partials/footer.ejs');%>
</body>

</html>