<!DOCTYPE html>
<html lang="es">

<!-- <HEADER> -->
<!-- Invocar el contenido del archivo head para hacer el header en nuestro HTML -->
<%- include ('./partials/head.ejs'); %>

<body>
  <!-- Se Invocan el contenido de los archivos en partials para incorporarlos en el HTML que se renderizará desde el servidor -->
  <!-- Barra de Navegación -->
  <%- include ('./partials/navigation'); %>

  <div class="col-md-4 mx-auto animate__bounceIn card">
    <form action="/signup" method="post" class="text-center card-body">
      <table>
        <thead>
          <th id="titletable" colspan="2" class="support">
            <label>Ingrese sus datos para registrarse</label>
          </th>
        </thead>
        <tbody>
          <tr>
            <td>
              <label for="txtNombre">Nombre</label>
            </td>
            <td>
              <input type="text" placeholder="Escriba su Nombre" name="txtNombre">
            </td>
          </tr>
          <tr>
            <td>
              <label for="txtApellido">Apellido</label>
            </td>
            <td>
              <input type="text" placeholder="Escriba su Apellido" name="txtApellido">
            </td>
          </tr>
          <tr>
            <td>
              <label for="txtTelefono">Telefono</label>
            </td>
            <td>
              <input type="tel" placeholder="Escriba su Telefono" name="txtTelefono">
            </td>
          </tr>
          <tr>
            <td>
              <label for="txtCorreo">Correo</label>
            </td>
            <td>
              <input type="email" placeholder="Escriba su Correo" name="txtCorreo">
            </td>
          </tr>
          <tr>
            <td>
              <label for="txtDireccion">Direccion</label>
            </td>
            <td>
              <input type="text" placeholder="Escriba su Direccion" name="txtDireccion">
            </td>
          </tr>
          <tr>
            <td>
              <label for="txtPsw1">Escribir Contraseña</label>
              <br>
              <label for="txtPsw2">Confirmar Contraseña</label>
            </td>
            <td>
              <input type="password" placeholder="Escriba su Contraseña" name="txtPsw1">
              <br>
              <input type="password" placeholder="Escriba su Contraseña" name="txtPsw2">
            </td>
          </tr>
          <tr>
            <td colspan="2" class="support">
              <button type="submit">Registrarse</button>
            </td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>
  <!-- FOOTER -->
  <%- include('./partials/footer.ejs');%>
</body>

</html>