<footer class="bg-dark text-white p-4 text-center">
	<h6 style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;" id="about">
		IAmiGO Proyect 2021-2022 &copy;
		<br>
		Web de Ramiro Javier Galindo Orozco
		<br>
		e-mail: <a href="mailto:ramiro.javier.galindo.orozco@outlook.com">ramiro.javier.galindo.orozco@outlook.com</a>
		<br>
		Cel.: <a href="tel:313 377 4961">313 377 4961</a>
	</h6>
</footer>

<!-- SCRIPTS -->
<!-- Hace funcionar el botón de las tres líneas y algún otro elemento bootstrap5-->
<!-- https://getbootstrap.com/docs/5.0/getting-started/introduction/ -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
	crossorigin="anonymous"></script>