<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" media="screen" href="../css/general.css">
	<title>Presentación de Propuestas</title>
</head>

<body>
	<h5 class="encabezado">10.12.2021</h5>
	<h1>
		PROPUESTAS DE SERVICIOS DE BASE DE DATOS MÉDICO PARA CARLOS CURE
	</h1>
		<h2 style="text-align: center;" class="titulo2">RAMIRO JAVIER GALINDO OROZCO</h2>
	<div class="soporte">
		<h4>
			e-mail: <a
				href="mailto:ramiro.javier.galindo.orozco@outlook.com">ramiro.javier.galindo.orozco@outlook.com</a>
			<br>
			Cel.: <a href="tel:313 377 4961">313 377 4961</a>
		</h4>
	</div>
	<div class="btncentro">
		<a class="btn1" href="../html/02ListPropuestas.html"><b>CONTINUAR</b></a>
	</div>
</body>
</html>