<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" media="screen" href="../css/general.css">
	<link rel="stylesheet" type="text/css" media="screen" href="../css/style_texto.css">
	<title>Presentación de Propuestas</title>
</head>

<body>
	<h1> Definir Arquitectura de Software por su:</h1>
	<ul class="titulo2">
		<li>Cantidad de Capas:
			<ul class="titulo3">
				<li> Mono-Capa</li>
				<li> Bi-Capa</li>
				<li> Tri-Capa</li>
				<li> Poli-Capa</li>
			</ul>
		</li>
		<li> Componentes:
			<ul class="titulo3">
				<li> Base de Datos
					<ul>
						<li>Backup</li>
					</ul>
				</li>
				<li> Servidor
					<ul>
						<li>Machine Learning</li>
						<li>Peticiones</li>
					</ul>
				</li>
				<li> Interfaz Cliente</li>
			</ul>
		</li>
	</ul>
</body>

</html>